body{
    margin: 0px;
}
.header{
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.logo{
    width: 100px;
}
.nav-items{
    margin: 0px 20px;
}
.nav-items > ul {
    display: flex;
    list-style-type: none;
    font-size: 24px;
}
.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.body{
    height: auto;
}
.search, .res-container {
    padding: 5px;
    margin: 0px 20px;
}
.res-container,  .shimmer-container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
}
.res-card, .shimmer-card{
    width: 200px;
    height: 300px;
    padding: 5px;
}
.res-card > * {
    margin: 9px;
}
.res-card:hover{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transform: scale(1.1);
    cursor: pointer;
}
.res-image {
    width: 90%;
    height: 100;
    object-fit: cover;
}
.footer{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 30px;
}
.filters{
    padding: 10px;
    display: inline;
}

@keyframes shimmer {
    to {
       background-position-x: 0%
    }
 }

.shimmer-card{
   background: linear-gradient(-45deg, #eee 40%, #fafafa 50%, #eee 60%);
   
}

.login-btn{
    padding: 0 20;
    cursor: pointer;
}