body{
    margin: 0px;
}
.header{
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.logo{
    width: 100px;
}
.nav-items{
    margin: 0px 20px;
}
.nav-items > ul {
    display: flex;
    list-style-type: none;
    font-size: 24px;
}
.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.body{
    height: auto;
}
.search, .res-container {
    padding: 5px;
    margin: 0px 20px;
}
.res-container,  .shimmer-container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
}
.res-card, .shimmer-card{
    width: 200px;
    height: 300px;
    padding: 5px;
}
.res-card > * {
    margin: 9px;
}
.res-card:hover{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transform: scale(1.1);
    cursor: pointer;
}
.res-image {
    width: 90%;
    height: 100;
    object-fit: cover;
}
.footer{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.filters{
    padding: 10px;
    display: inline;
}

@keyframes shimmer {
    to {
       background-position-x: 0%
    }
 }

.shimmer-card{
   background: linear-gradient(-45deg, #eee 40%, #fafafa 50%, #eee 60%);
   
}

.login-btn{
    padding: 0 20;
    cursor: pointer;
}
.res-details{
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #f1f1f1;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.res-header{
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.res-header-left{
    margin: 20px;
}
.res-body{
    margin:20px;
}
.menu-container{
    display: flex;
    flex-wrap: wrap;
}
.item-card{
    border: 1px solid rgba(149, 157, 165, 0.2);
    border-radius: 10px;
    padding: 20px;
    margin: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}